<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebCalc - Register</title>
    <link href="/static/modules/beer/beer.min.css" rel="preload" as="script">
    <link href="/static/modules/beer/beer.min.css" rel="stylesheet">
    <script type="module" src="/static/modules/beer/beer.min.js"></script>
    <script type="module" src="/static/modules/beer/material-dynamic-colors.min.js"></script>

    <script src="/static/modules/crypto-js/core.min.js"></script>
    <script src="/static/modules/crypto-js/sha256.js"></script>
    <link href="/static/styles/theme.css" rel="preload" as="script">
    <link href="/static/styles/theme.css" rel="stylesheet">
</head>
<body>
<main class="responsive grid">
    <div class="s0 m2 l3"></div>
    <div class="s12 m8 l6">
        <article class="middle grid">
            <div class="s0 m1 l2"></div>

            <div class="s12 m10 l8">
                <form>
                    <div class="medium-space"></div>
                    <div class="field label border">
                        <input name="login" id="login" type="text" required>
                        <label for="login">Enter login</label>
                    </div>
                    <div class="medium-space"></div>
                    <div class="field label border">
                        <input name="password" id="password" type="password" required>
                        <label for="password">Enter password</label>
                    </div>
                    <div class="medium-space"></div>
                    <div class="field label border">
                        <input name="password2" id="password2" type="password" required>
                        <label for="password2">Enter password again</label>
                        <span class="error" hidden id="similarPasswordsErr">Those passwords didn’t match. Try again.</span>
                    </div>
                    <button class="extra round center" id="register" type="submit" style="background-color: #fb8c00">
                        <span id="span">Sign up</span>
                        <progress class="circle" id="progress" style="display: none"></progress>
                    </button>
                    <div class="medium-space"></div>
                    <div class="right right-align">
                        <span>Already have an account?</span>
                        <a href="/login" style="color: #fb8c00">Sign in →</a>
                    </div>
                </form>
            </div>

            <div class="s0 m1 l2"></div>
        </article>
    </div>
    <div class="s0 m2 s3"></div>
</main>
<script src="static/scripts/register.js"></script>
</body>
</html>